#tetris-canvas{
	display: block;
	margin: 0px auto;
	border: solid #000 2px;
}
#instructions{
	display: none;
}
@media screen and (min-width: 950px){
	#instructions{
		display: block;
		text-align: center;
		font-weight: 800;
		font-size: 1.5em;
	}
}
