#tetris-canvas{
	display: block;
	margin: 0px auto;
	border: solid #000 2px;
}
#instructions{
	display: none;
}
#controls{
	text-align: center;
}
#controls button{
	color: #fff;
	background: #000;
	border-radius: 25%;
	border: solid grey 1px;
	font-size: 1.2em;
	width: 55px;
	height: 55px;
	margin: 5px;
}
@media screen and (min-width: 950px){
	#instructions{
		display: block;
		text-align: center;
		font-weight: 800;
		font-size: 1.5em;
	}
	#controls{
		display: none;
	}
}
